data/MODFLOW-NWT_1.2.0
data/output
data/MODFLOW_Model

data/MODFLOW_New_Model/SyntheticAquifer_NY.bas
data/MODFLOW_New_Model/SyntheticAquifer_NY.cbc
data/MODFLOW_New_Model/SyntheticAquifer_NY.chd
data/MODFLOW_New_Model/SyntheticAquifer_NY.chk
data/MODFLOW_New_Model/SyntheticAquifer_NY.dis
data/MODFLOW_New_Model/SyntheticAquifer_NY.drn
data/MODFLOW_New_Model/SyntheticAquifer_NY.fdn
data/MODFLOW_New_Model/SyntheticAquifer_NY.fhd
data/MODFLOW_New_Model/SyntheticAquifer_NY.lst
data/MODFLOW_New_Model/SyntheticAquifer_NY.nam
data/MODFLOW_New_Model/SyntheticAquifer_NY.nwt
data/MODFLOW_New_Model/SyntheticAquifer_NY.oc
data/MODFLOW_New_Model/SyntheticAquifer_NY.rch
data/MODFLOW_New_Model/SyntheticAquifer_NY.riv
data/MODFLOW_New_Model/SyntheticAquifer_NY.upw
data/MODFLOW_New_Model/UPW.chk